@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: aliceblue;
}

header{
    position: sticky;
    width: 100%;
    background-color: lightblue;
    /* background: linear-gradient(to right, #00093c, #2d0b00); */

    
    /* background-image: linear-gradient(green, yellowgreen); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: auto 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header a{
    /* margin-top: 20px; */
    text-decoration: none;
    /* text-align: center; */
}

header .logo{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 25px;
    color: red;
    margin-left: 15px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
    
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    display: block;
    color: green;
    text-decoration: none;

}

header .navbar ul li a:hover{
    background: green;
    color: white;
    border: .8px solid white;
    border-radius: 15px;
    z-index: -1000;         
}


header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: lightblue;
    display: none;
    

}
header .navbar ul li ul li{
    width: 100%;
    /* border-top: 1px solid green; */
    border: 1px solid white;
    border-radius: 15px;

}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
    
}

header .navbar ul li:focus-within >ul,
header .navbar ul li:hover >ul{
    display: initial;
    border-radius: 15px;
}

@media(max-width:390px){
    header{
        padding: 20px;
        margin-bottom: 235px;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: skyblue;
        border-top: 1px solid gray;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: cadetblue;
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
}

/* nav bar end here */


.slider-image{
    display: flex;
    height: 20rem;
    gap: .8rem;
     overflow-x: scroll;
}

.slider-image > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(0.25, 0.4, 0.4, 1.5);
}

.slider-image > div:hover {
    flex: 7;
}


